:root {
  --theme__000: #000000;
  --theme__100: #1F2E55;
  --theme__200: #0D30BD;
  --theme__300: #382AE1;
  --theme__500: #717FA6;
  --theme__800: #D6E1FF;
  --theme__900: #E0E8FF;
  --theme__950: #F7F9FF;
  --theme__999: #FFFFFF;

  --shadow--small: #00000040 0 4px 4px; /* 15.18% opacity X0 Y40 blur40 spread-20 */
  --shadow--large: #0D30BD26 0 40px 40px -20px; /* X0 Y4 blur4 opacity 25% */

  --annual-plan__bg: var(--theme__950);
  --annual-plan__text--primary: var(--theme__100);
  --annual-Plan__text--secondary: var(--theme__500);
  --annual-plan__link: var(--theme__300);
}

html {
  font-size: 8px;
  font-family: 'Red Hat Display', sans-serif;
}

body {
  margin: 0;
}

.bg {
  min-height: 100vh;
  background-color: var(--theme__900);
}

.layout {
  padding: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  max-width: 450px;
  background-color: var(--theme__999);
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  box-shadow: var(--shadow--small), var(--shadow--large);
}

.card__image {
  display: block;
  box-shadow: var(--shadow--small);
  width: 100%; /* fixes firefox scaling issue */
}

.content { 
  /* LAYOUT COMPONENT - this is what makes this an Order Summary Card as opposed to some other component*/
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 4rem 3rem; 
}

.content__heading {
  font-size: 2.75rem; /* mobile */
  margin-top: 0;
  margin-bottom: 0;
}

.content__copy {
  font-size: 2rem;
  color: var(--theme__500);
  line-height: 3.125rem;
  margin-bottom: 3rem;
}

.content__annual-plan-wrapper {
  margin-bottom: 3rem;
}

.annual-plan {
  border-radius: 11px;
  padding: 2rem;
  display: flex;
  background-color: var(--annual-plan__bg);
  justify-content: space-between;
}

.annual-plan__items--left {
  display: flex;
}

.annual-plan__details {
  text-align: left;
}

.annual-plan__details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 2.5rem;
  text-align: left;
}
.annual-plan__label {
  font-size: 14px;
  font-weight: 900;
  margin-bottom: 0.2rem;
}

.annual-plan__price {
  font-size: 14px;
  color: var(--theme__500);
}

.annual-plan__items--right {
  font-weight: bold;
  color: #382AE1;
  display: flex;
  align-items: center;
}

.annual-plan__change-link {
  font-size: 1.875rem;
}

.btn {
  background-color:  var(--theme__300);
  padding: 2rem;
  font-size: 2rem;
  color: var(--theme__999);
  font-weight: 900;
  text-decoration: none;
  border-radius: 11px;
  box-shadow: var(--shadow--small), #382AE130 0 20px 20px;
}

.cancel {
  text-decoration: none;
  color: var(--theme__500);
  font-weight: 900;
  margin-top: 4rem;
  font-size: 1.875rem;
}

@media (min-width:500px) {
  .content {
    padding: 6rem 6rem
  }
  .content__copy,
  .content__annual-plan-wrapper {
    margin-bottom: 4rem;
  }
  .annual-plan__label {
    margin-bottom: 0.6rem;
  }
  .content__heading {
    font-size: 3.5rem;
  }
}